.aboutPage {
    margin: 1em 10%;
}

.aboutPage #title {
    font-size: 36px;
    color: #333333;
    font-weight: 200;
}

.aboutPage #description {
    margin-top: 0.25em;
    font-size: 19px;
    color: #333333;
    font-weight: 200;
}